SECRET_KEY="!e*6)vw88z&%p7j7vs0e-g=e3cx!pccbm6)z#ef88%ur-sn-2*"

DEBUG=True

HOST=127.0.0.1

DB_TYPE=sqlite
DB_NAME=db_eddy_backend

MYSQL_USER=root
MYSQL_PASSWORD=mysqlrootpassword
MYSQL_HOST=mysql
MYSQL_PORT=3306
